


     <div class="new-item-overlay js-new-item-overlay">
       <div class="new-item-cont in-blk">
          <p class=""></p>
         <form class="" action="/items" id="new-item-form"method="post">
           <div class="field">
             <input type="text" name="name"  attr-name="name"  class="email" placeholder="Enter Item Name...">
           </div>
           <div class="field">
             <input type="text" name="price"  attr-name="name"  class=" email" placeholder="Enter Item Price...">
           </div>
           <div class="field">
             <input type="text" name="original_price"  attr-name="name"  class=" email" placeholder="Enter Item Original Price...">
           </div>
           <div class="field">

             <select  name="main_category"  attr-name="name"  class=" email">
               <option value="">Select Item Main Category</option>
               <option value="option_two">Option two</option>
             </select>
           </div>
           <div class="field">

             <select  name="sub_category"  attr-name="name"  class="field">
               <option value="">Select Item SubCategory</option>
               <option value="sub_option_two">Option two</option>
             </select>
           </div>
           <div class="">

             <select  name="category"  attr-name="name"  class="field">
               <option value="">Select Item Category</option>
               <option value="category_option_two">Option two</option>
             </select>
           </div>


           <div class="mt-30">
             <button type="button"  class="button button-submit bg-green uppercase rel js-new-item-button-create">
               Add New Item
               <span class="new-item-loader-cont">
                 <span class="new-item-loader">
                   <span class="item-loader"></span>
                   <span class="item-loader"></span>
                   <span class="item-loader"></span>
                   <span class="item-loader"></span>
                 </span>
               </span>

             </button>
           </div>
           <div class="mt-30">
             <button type="button"  class="button button-submit uppercase js-new-item-cancel ">Cancel</button>
           </div>
         </form>
       </div>
       </div>
