<div class="new-variant-overlay">

  <div class="new-variant-note">
    <div class="new-variant-notice text-center">
      <span>Create new <b>variant</b> for:</span>
      <span class="item-delete-name new-variant-item-name blk bold"></span>

      <span class="new-variant-loader-cont">
        <span class="new-item-loader">
          <span class="item-loader"></span>
          <span class="item-loader"></span>
          <span class="item-loader"></span>
          <span class="item-loader"></span>
        </span>
      </span>
    </div>
     <input type="hidden" name="" value="">
    <input type="hidden" name="item_id" item_id="" value="">
    <button type="button" name="" class="button pointer new-variant-create-btn bg-green">Create</button>
    <button type="button" name="" class="button pointer new-variant-cancel-btn ">Cancel</button>
  </div>
</div>
