<div class="new-variant-overlay">

  <div class="new-variant-note">
    <div class="new-variant-notice text-center">
      <span>Create new <b>variant</b> for:</span>
      <span class="item-delete-name blk bold">Maybelle for men deodorant lorem lorem lorem</span>

      <span class="new-variant-loader-cont">
        <span class="new-item-loader">
          <span class="item-loader"></span>
          <span class="item-loader"></span>
          <span class="item-loader"></span>
          <span class="item-loader"></span>
        </span>
      </span>
    </div>
    <button type="button" name="" class="button pointer bg-green">Create</button>
    <button type="button" name="" class="button pointer ">Cancel</button>
  </div>
</div>
