
     <div class="delete-note-overlay">

       <div class="delete-note">
         <div class="delete-notice text-center">
           <span>Are you sure you want to delete:</span>
           <span class="variant-delete-name blk bold"></span>
           <span class="delete-note-loader-cont">
             <span class="new-item-loader">
               <span class="item-loader"></span>
               <span class="item-loader"></span>
               <span class="item-loader"></span>
               <span class="item-loader"></span>
             </span>
           </span>
         </div>
         <input type="hidden" variant_id="variant_id" value="">
         <input type="hidden" name="item_id" value="">
         <button type="button" name="" class="button pointer js-delete-variant-btn">Delete</button>
         <button type="button" name="" class="button pointer bg-green js-delete-item-cancel-btn">Cancel</button>
       </div>
     </div>
