
<%- include('header')-%>
</head>
  <body>

    <div class="search mt-15 control">
      <form action="search__form" class=" search__form control">
        <input type="text" class="search__input  pointer" placeholder="Search Items">
      </form>
    </div>
   <a href="/items/new"class="input form-input form-btn--rounded form-input--rounded--cinnabar mt-20 in-blk">Add New Item</a>


   <div class="flex align-items-baseline">
     <button  class="sortfilter mr-auto">Sort & Filter</button>
     <p class="item">Items: <span>0</span></p>
   </div>

   <p class="underline items-head">ITEMS</p>

    <div class="items">



      <% items.forEach((item)=>{%>
        <div class="item-grid">
           <div class="">
             <div class="item-grid__img-cont">
               <img src="/images/rasta/item1.jpg" alt="" class="item-grid__img w-100">
             </div>
           </div>
           <div class="item-grid-desc">
             <p class="item-grid-desc__name bold">
               Sed ut perspiciatis unde omnis iste natus
             </p>
             <p class="item-grid-desc__price">
               Price: <span class="bold">50.00</span>
             </p>
             <p class="item-grid-desc__variantnum">
               No of Variants: <span class="bold">0</span>
             </p>
           </div>

           <div>
             <ul class="action mr-20 mb-20">
               <li class="action_item rel ">Item
                  <ul class="action_dropdown abs">
                    <li class="view action_dropdown-list"><a href="#">View</a></li>
                    <li class="edit action_dropdown-list"><a href=<%=`items/${item.id}/descriptions`%>>Edit Description</a></li>
                    <li class="edit action_dropdown-list"><a href=<%=`items/${item.id}/edit/details`%>>Edit Detail</a></li>
                    <li class="trash action_dropdown-list"><a href="#">Delete</a></li>
                  </ul>
               </li>
             </ul>

             <ul class="action mb-20">
               <li class="action_item rel ">Variant
                  <ul class="action_dropdown abs">
                    <li class="view action_dropdown-list"><a href="<%=`/items/${item.id}/variants/new`%>">New</a></li>
                    <li class="view action_dropdown-list"><a href="#">View</a></li>
                    <li class="edit action_dropdown-list"><a href="">Edit</a></li>
                    <li class="trash action_dropdown-list "><a href="#">Delete</a></li>
                  </ul>
               </li>
             </ul>
           </div>
        </div>

      <%});%>



   </div>



  </body>




</html>
