  <%- include('header')-%>
  </header>
    <div class="fields">
         <p class="underline text-center bold">Add New Item</p>
        <form class="" action="/items" method="post">
          <div class="input-group-field">
            <label for="" class="form-label ">Name</label>
            <input type="text" name="name"  attr-name="name"  class="form-input control email">
          </div>
          <div class="input-group-field">
            <label for="" class="form-label ">Price</label>
            <input type="text" name="price"  attr-name="name"  class="form-input control email">
          </div>
          <div class="input-group-field">
            <label for="" class="form-label ">Original Price</label>
            <input type="text" name="original_price"  attr-name="name"  class="form-input control email">
          </div>
          <div class="input-group-field">

            <select  name="main_category"  attr-name="name"  class="form-input control email">
              <option value="">Select Item Main Category</option>
              <option value="option_two">Option two</option>
            </select>
          </div>
          <div class="input-group-field">

            <select  name="sub_category"  attr-name="name"  class="form-input control email">
              <option value="">Select Item SubCategory</option>
              <option value="sub_option_two">Option two</option>
            </select>
          </div>
          <div class="input-group-field">

            <select  name="category"  attr-name="name"  class="form-input control email">
              <option value="">Select Item Category</option>
              <option value="category_option_two">Option two</option>
            </select>
          </div>


          <div class="mt-30">
            <button type="submit"  class="form-input control form-btn--rounded form-input--rounded--cinnabar rel ">Add New Item</button>
          </div>
        </form>
      </div>
